{% extends "layout.twig.html" %}

{% block content %}
	<form method="POST">
		<fieldset class="col-xs-12 col-md-6">
			<legend>{{ event == false ? 'Ny' : 'Rediger' }} kalenderhendelse</legend>
			<input type="hidden" name="cal_id" value="{{ event == false ? 'new' : event.id }}" />
			
			<div class="form-group">
				<label for="name">Tittel</label>
				<input value="{{ event == false ? '': event.title}}" type="text" class="form-control" id="title" name="title" placeholder="Skriv inn tittel..." />
			</div>

			<div class="form-group">
				<label for="name">Sted</label>
				<input value="{{ event == false ? '': event.location}}" type="text" class="form-control" id="location" name="location" placeholder="Skriv inn sted..." />
			</div>
		
			<div class="form-group">
				<label for="name">Beskrivelse</label>
				<textarea class="form-control" id="description" name="description" placeholder="Skriv inn beskrivelse">{{ event == false ? '': event.description}}</textarea>
			</div>
		
			<div class="form-group">
				<label for="name">Start</label>
				<input class="datepicker_kalender" type="text" id="start_datepicker" name="start_datepicker" value="{{event.start|date('d.m.Y')}}">
			</div>
		
		
			<div class="form-group">
				<label for="name">Slutt</label>
				<input class="datepicker_kalender" type="text" id="stop_datepicker" name="stop_datepicker" value="{{event.stop|date('d.m.Y')}}">
			</div>
			
			<div class="form-group">
				<button class="btn btn-success btn-lg" type="submit">Lagre</button>
			</div>
	
		</fieldset>
	</form>
{% endblock %}