{% extends "layout.twig.html" %}

{% block content %}
<p class="lead">Legg til kalenderen i Outlook</p>
<p>
	Du kan abonnere på kalenderen direkte i Outlook eller andre kalender-programmer.
</p>
<p>
	<a href="http://windows.microsoft.com/nb-no/windows/outlook/calendar-import-vs-subscribe" target="_blank">Usikker på hvordan du abonnerer på en kalender i outlook?</a>
</p>
<h3>Abonner på denne kalenderen</h3>
<div class="alert alert-warning">
	<a href="{{ saveURL }}">{{ saveURL }}</a>
</div>
{% endblock %}