{% extends "layout.twig.html" %}

{% block content %}
<p class="lead">Abonner på denne kalenderen</p>
<p>
	Du kan abonnere på kalenderen direkte i Outlook eller andre kalender-programmer.
</p>
<div class="alert alert-warning">
	<a href="{{ saveURL }}">{{ saveURL }}</a></p>
</div>
<div class="alert">
	<h4>Usikker på hvordan du abonnerer på en kalender i Outlook?</h4>
	<ol>
		<li>Start Outlook</li>
		<li>Trykk på lenken over</li>
		<li>I boksen "Legge til kalender og abonnere på denne?" Trykk ja.</li>
	</ol>
		<a href="http://windows.microsoft.com/nb-no/windows/outlook/calendar-import-vs-subscribe" target="_blank">Problemer? Trykk her for mer informasjon.</a>
	</p>
</div>

{% endblock %}