{% extends "layout.twig.html" %}
{% set headline = "" %}
{% block content %}
<h1>Alle kalenderhendelser</h1>

<ol class="list list-unstyled list-group">
	{% for title,events in calendar_events|reverse %}
	<h2 class="page-header">{{ title }} hendelser</h2>
		{% for event in events %}
			{% if headline != event.start|dato('F') %}

				{% set headline = event.start|dato('F') %}
				<li>
					<h3>
						{{ event.start|dato('F')|capitalize }}
					</h3>
				</li>	
			{% endif %}
			<li class="col-xs-12 list-group-item" ><!-- {{ dump(event) }} -->
				<div class="col-xs-1 col-md-1" >{{event.start|dato('D d.m')|capitalize}}</div>
				<div class="col-xs-3 col-md-3"><b>{{event.title}}</b></div>
				<div class="col-xs-7 col-md-7">{{event.description}}</div>
				{% if site_type == 'fylke' %}
				<div class="col-xs-1 col-md-1">
					<a class="" href="?page=UKMkalender&action=form&edit=true&id={{event.id}}">
						<img class=".img-responsive" src="http://ico.ukm.no/pencil-32.png" />
						<span class="button-text">Rediger</span>
					</a>
				</div>
				{% endif %}
			</li>
		
			{% else %}
			<li class="alert alert-info col-xs-12">
				Det er ikke lagt til noen kalenderhendelser enda.
				{% if site_type == 'fylke' %}
					<a href="?page=UKMkalender&action=form">Legg til en kalenderhendelse</a>
				{% endif %}
			</li>
		{% endfor %}
		<p>&nbsp;</p>
	{% endfor %}
	<p>&nbsp;</p>

{% endblock %}